@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

header {
    width: 100%;
    height: auto;
}

.header-page {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 41%);
}

.logo {
    margin-right: 50px;
    margin-top: 5px;
}

.logo img {
    width: 100%;
}

.menu-bar {
    display: flex;
    margin: 30px 30px;
    font-size: 18px;
    font-weight: 500;
    gap: 30px;
    font-family: 'Epilogue', sans-serif;
    cursor: pointer;
}

.menu-bar span {
    font-size: 16px;
}

.menu-bar a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-size: 16px;
}

.features img, .company img {
    margin-bottom: 2px;
}

.features-dropdown {
    position: absolute;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    width: 120px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.features-dropdown a {
    display: flex;
    padding: 10px 12px;
    color: hsl(0, 0%, 41%);
    align-items: center;
}

.features-dropdown img {
    margin-right: 10px;
}

.company-dropdown {
    position: absolute;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    width: 120px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.company-dropdown a {
    display: flex;
    padding: 10px 12px;
    color: hsl(0, 0%, 41%);
    align-items: center;
}





.login-register {
    display: flex;
    float: left;
    margin-left: auto;
    font-size: 16px;  
    font-weight: 500;
    gap: 30px;  
    font-family: 'Epilogue', sans-serif;
}

.login-register a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.login {
    padding: 12px;
}

.register {
    border: solid 1px;
    border-radius: 15px;
    padding: 12px 30px;
    font-weight: 500;
}

main {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}

.content {
   display: inline;
   width: 720px;
   margin-top: 100px;
   margin-left: 120px;
}

.main-title {
    margin-top: 100px;
    font-size: 5em;
    font-weight: 700;
}

.main-text {
    width: 70%;
    margin-top: 50px;
    line-height: 30px;
    font-size: 1.3em;
    color: hsl(0, 0%, 41%);
}


.button-learn-more button {
    margin-top: 50px;
    font-size: 1.2em;
    font-weight: 500;
    color: hsl(0, 0%, 98%);
    background: hsl(0, 0%, 8%);
    border: solid 1px;
    border-radius: 20px;
    padding: 20px 30px;
    cursor: pointer;
}

.button-learn-more button:hover {
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}

.brands img {
    display: inline;
    margin-top: 120px;
    margin-inline: 20px;
}

.img-page {
    width: 35%;
    margin-top: 100px;
    margin-right: 100px;
}

.img-page img {
  width: 100%
}