@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

header {
    width: 100%;
    height: auto;
}

.header-page {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 41%);
}

.logo {
    margin-right: 50px;
    margin-top: 5px;
}

.logo img {
    width: 100%;
}

.open-menu, .close-menu {
    display: none;
}


.menu-bar {
    display: flex;
    margin: 30px 30px;
    font-size: 18px;
    font-weight: 500;
    gap: 30px;
    font-family: 'Epilogue', sans-serif;
    cursor: pointer;
}

.menu-bar a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-size: 16px;
}

.menu-bar a:hover {
    color: hsl(0, 0%, 8%);
}

/* Dropdown content ------------------------------------------------ */
/* Features -------------------------------------------------------- */
#btn-features {
    position: relative;
    display: inline;
}

.arrow-down-features {
    display: inline;
    margin-bottom: 2px;
}

.arrow-up-features {
    display: none;
    margin-bottom: 2px;
}

.features-dropdown {
    position: absolute;
    display: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: -60px;
    padding: 20px;
    width: 120px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.features-dropdown a {
    display: flex;
    padding: 10px 12px;
    color: hsl(0, 0%, 41%);
    align-items: center;
}

.features-dropdown img {
    margin-right: 10px;
}

/* Company -------------------------------------------------------- */
.arrow-down-company {
    display: inline;
    margin-bottom: 2px;
}

.arrow-up-company {
    display: none;
    margin-bottom: 2px;
}

.company-dropdown {
    position: absolute;
    display: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    width: 120px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.company-dropdown a {
    display: flex;
    padding: 10px 12px;
    color: hsl(0, 0%, 41%);
    align-items: center;
}

/* Login e Register buttons ---------------------------------------*/
.login-register {
    display: flex;
    float: left;
    margin-left: auto;
    font-size: 16px;  
    font-weight: 500;
    gap: 30px;  
    font-family: 'Epilogue', sans-serif;
}

.login-register a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.login-register a:hover {
    color: hsl(0, 0%, 8%);
}

.login {
    padding: 12px;
}

.register {
    border: solid 1px;
    border-radius: 15px;
    padding: 12px 30px;
    font-weight: 500;
}

/* Main content ------------------------------------------------ */
main {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}

.content {
   display: inline;
   width: 720px;
   margin-top: 100px;
   margin-left: 120px;
}

.main-title {
    margin-top: 100px;
    font-size: 5em;
    font-weight: 700;
}

.main-text {
    width: 70%;
    margin-top: 50px;
    line-height: 30px;
    font-size: 1.3em;
    color: hsl(0, 0%, 41%);
}

.button-learn-more button {
    margin-top: 50px;
    font-size: 1.2em;
    font-weight: 500;
    color: hsl(0, 0%, 98%);
    background: hsl(0, 0%, 8%);
    border: solid 1px;
    border-radius: 20px;
    padding: 20px 30px;
    cursor: pointer;
    transition: 0.2s;
}

.button-learn-more button:hover {
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}

.brands img {
    display: inline;
    margin-top: 120px;
    margin-inline: 20px;
}

.img-page {
    width: 35%;
    margin-top: 100px;
    margin-right: 100px;
}

.img-page img {
  width: 100%
}

@media screen and (max-width: 375px ) {
    .header-page {
        width: 375px;
        display: flex;
        align-items: flex-end;
    }
    .logo {
        display: inline;
        margin-left: 15px;
        margin-top: 15px;
    }
    .open-menu {
        display: flex;
        position: absolute;
        right: 15px;
        top: 15px;    
    }
    .menu-bar {
        display: flex;
        width: 200px;
        height: 100vh;
        flex-direction: column;
        position: absolute;
        top: -40px;
        right: -100%;
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .close-menu {
        display: flex;
        position: absolute;
        top: 25px;
        right: 45px;
    }
    .login-register {
        position: absolute;
        top: 300px;
        right: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        gap: 10px;
    }
    .menu-bar.active {
        right: -50px;
    }
    .login-register.active {
        right: 20px;
    }
    .register {
        padding: 10px 60px;
        border-radius: 12px;
        border: solid 2px;
    }
    .features-dropdown {
        right: 60px;
        width: 120px;
    }
    main {
        width: 375px;
        display: flex;
        flex-direction: column-reverse;        
    }
    .img-page {
        width: 100%;
        margin-top: 15px;
    }
    .img-page img {
        content: url(../img/image-hero-mobile.png);  
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        display: block;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
     }
     .main-title {
        width: 100%;
        font-size: 2em;
        text-align: center;
        margin-top: 30px;
    }
    br {
        display: none;
    }
    .main-text {
        max-width: 100%;
        width: 80%;
        text-align: center;
        justify-content: center;
        align-content: center;
        line-height: 25px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
    }
    .button-learn-more{
        text-align: center;
    }
    .button-learn-more button {
        margin-top: 20px;
        font-size: 1.0em;
        border-radius: 10px;
        padding: 15px 20px;
    }
    .brands {
        width: 90%;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;

    }
    .brands img {
        display: inline;
        width: 20%;
        margin-top: 20px;
        margin-inline: 6px;
    }
}